{% extends 'pacientes/layout.html' %}

{% block body %}
<h1 style="margin-bottom: 35px;"> Paciente {{ paciente }} </h1>

<div class="card-deck">
  <div class="card">
    
    <div class="card-block">
      <h4 class="card-title" >Información de contacto</h4>
      <p class="card-text"><hr>
			<p style="text-align: center;padding: 10px">Email: {{ paciente.email }}</p>
			<p style="text-align: center;padding: 10px">Teléfono: {{ paciente.teléfono }}</p></p>
      
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Total de pedidos</h4>
      <p class="card-text"><h1 style="text-align: center;padding: 10px"> 
        {% with total=paciente.pedido_set.all.count %}
          {{ total }}
        {% endwith %}
      </h1></p>
    </div>
  </div>
</div>
		
			

<div class="contenedor_panel">
  
<div class="col md-5">
    <div class="card card-body">
      <a class="btn btn-primary btn-sm btn-block" style="background-color: rgb(32, 105, 105);" href="{% url 'pedidos:hacer_pedido' paciente.id %}">Nuevo pedido</a>
      <table class="table table-sm">
        <tr>
          <th>Pedido</th>
          <th>Fecha pedido</th>
          <th>Estado</th>
          <th>Actualizar</th>
          <th>Eliminar</th>
        </tr>
        
        {% for cada_pedido in pedido %}
          <tr>
          <td> {{ cada_pedido.pk }} </td>
          <td> {{ cada_pedido.fecha_creación.date }}</td>
          <td> {{ cada_pedido.estado }} </td>
          <td> <a href="{% url 'pedidos:actualizar_pedido' cada_pedido.pk %}">Actualizar</a></td>
          <td> <a href="{% url 'pedidos:borrar_pedido' cada_pedido.pk %}">Eliminar</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}