{% extends "pedidos/layout.html" %}

{% block body %}
  
  <h1> Pedido N.º {{ unPedido.id }} </h1>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Cantidad</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio unit.</th>
      <th scope="col">Total art.</th>
      <th scope="col">Fecha de creación</th>
      <th scope="col">Estado</th>
      <th scope="col">Pago</th>
      <th scope="col">Vendedor</th>
    </tr>
  </thead>
  <tbody>
        
        {% for item in pedido_seleccionado %}
          
          <tr>
          <th scope="row">{{ item.cantidad }}</th>
          <td>{{ item.producto }}</td>
          <td>{{ item.producto.precio }}</td>
          <td>{% widthratio item.cantidad 1 item.producto.precio %}</td>
          <td>{{ item.fecha_creación }}</td>
          <td>{{ item.estado }}</td>
          <td>{{ item.pago }}</td>
          <td>{{ item.vendedor }}</td>
          </tr>          
        {% endfor %}
      <tr>
        <th scope="row">--</th>
        <td> --- </td>
        <td> Total $</td>
        <td>{{ total }}</td>
        <td>--</td>
        <td>--</td>
  </tbody>
</table>

<a class="btn btn-primary btn-sm" style="background-color: #39b9b9; margin: 15px 0 30px 25px;" href="{% url 'pedidos:inicio' %}">Volver a inicio</a>

<a class="btn btn-primary btn-sm" style="background-color: #39b9b9; margin: 15px 0 30px 25px;" href="{% url 'pedidos:pedidos' %}">Ver todos los pedidos</a>
{% endblock %}
