{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Área médica</title>
  <link rel="stylesheet" href="{% static 'turnos/styles.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  
</head>
<body>
  <style>
    .hello-msg{
      font-size: 18px;
      color: black;
      margin-right: 20px;
    }
  </style>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">OptoMed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'pedidos:inicio' %}">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pedidos:pedidos' %}">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pedidos:productos' %}">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pacientes:index' %}">Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'turnos:turnos' %}">Turnos</a>
      </li>
      
    </ul>
  </div>

  <span  class="hello-msg">Hello, {{request.user}}</span>
  <span><a class="hello-msg" href="{% url 'accounts:logout' %}" > Logout </a></span>
</nav>

  {% block body %}
  {% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>