{% extends "turnos/layout.html" %}
{% load static %}

{% block body %}
  
  <h1> Profesional méd. {{ medico.nombre }} </h1>
  <h3 style="margin-left: 25px;"> Especialidad: {{ medico.especialidad }}</h3>
  
  

  {% comment %} <form action="" method="POST">
    {% csrf_token %}
    <div class="turnos_checkbox" style="margin: 0 0 35px 25px;">
    
    Día:<input type="number" name="día" placeholder="Del 1 al 31">
    Mes:<input type="number" name="día" placeholder="Del 1 al 12">
    Año:<input type="number" name="día" placeholder="4 dígitos para el año">
    
    <input type="submit" class="btn btn-primary btn-sm" style="background-color: #39b9b9; margin: 15px 0 30px 25px;" value="Filtrar pacientes">
    </div>
  </form> {% endcomment %}

  <form action="" method="GET">
    {% csrf_token %}
    {{ filtro_medico }}
    
    <input type="submit" class="btn btn-primary btn-sm" style="background-color: #39b9b9; margin: 15px 0 30px 25px;" value="Filtrar pacientes">
    
  </form>

  
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Turno</th>
      <th scope="col">Paciente </th> 
      
      
    </tr>
  </thead>
  <tbody>
    
        {% for turno in turnos %}
          <tr>
          <th scope="row">{{ turno }}</th>
          <td>{{ turno.paciente }} <a href="{% url 'pacientes:paciente_medico' turno.paciente.pk %}" class="btn btn-primary" style="background-color: #4fd1c3; height: 35px; width: 55px; font-size: 18px; text-align: center; padding: 0; margin-left: 25px;">Ver</a></td> 
          
          
          </tr>
        {% endfor %}
       
  </tbody>
</table> 

{% endblock %}