{% load static %}

  {% block body %}
  <link rel="stylesheet" href="{% static 'pedidos/styles.css' %}">
    <div class="home_title">
    <h1> OPTOMED </h1>
    <h2> Clínica y Tienda de Optometría </h2>
    </div>

<p style="margin: 0 0 65px 15px; font-size: 23px;">Seleccione su rol para continuar:</p>

    <div class="container_home">
        <a class="rol" href="{% url 'accounts:login' %}">Secretaría</a>
        <a class="rol" href="{% url 'accounts:login' %}">Prof. médico</a>
        <a class="rol" href="{% url 'accounts:login' %}">Ventas</a>
        <a class="rol" href="{% url 'accounts:login' %}">Taller</a>
        <a class="rol" href="{% url 'accounts:login' %}">Gerencia</a>
    </div>
  {% endblock %}
