{% load static %}
<style>
  .hello-msg{
    font-size: 18px;
    color: black;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">OptoMed</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
      <li class="nav-item active">
      <a class="nav-link" href="{% url 'accounts:index' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'pedidos:inicio' %}">Inicio Adm<span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_staff  %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'pedidos:pedidos' %}">Pedidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'pedidos:productos' %}">Productos</a>
        </li>
      {% endif %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'pacientes:index' %}">Pacientes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Turnos</a>
      </li>
  </ul>
  </div>

<span  class="hello-msg">Hello, {{request.user}}</span>
<span><a class="hello-msg" href="{% url 'accounts:logout' %}" > Logout </a></span>
</nav>
